<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Extracted Ads
                <span class="category" id="extractedCount">
                {{ items_list|length  }}
            </span>
            </h4>

        </div>
        <div class="content">

            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="chkAll" >
                        </th>
                        <th>Title</th>
                        <th>Posted On</th>
                        <th>Messages</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items_list %}

                        {% if item.name %}
                            <tr>
                                <td> <input type="checkbox" class="chkAd" value="{{ item.id }}" ></td>
                                <td>
                                    <a href="{{ item.link }}" target="_blank">
                                        {{ item.name }}
                                    </a>
                                </td>
                                <td>{{ item.posted_on }}</td>
                                <td>
                                    {{ item.adsmessages_set | length }}
                                </td>
                            </tr>
                        {% endif %}
                    {%  endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>